@import "tailwindcss";

@theme {
  --font-playfair: "Palyfair Display", sans-serif;
  --font-lato: "Lato", sans-serif;
  --color-charcoaldepths-50: oklch(97.9% 0.002 247.8);
  --color-charcoaldepths-100: oklch(92.4% 0.008 260.7);
  --color-charcoaldepths-200: oklch(81.7% 0.018 256.3);
  --color-charcoaldepths-300: oklch(66.5% 0.026 254.0);
  --color-charcoaldepths-400: oklch(54.0% 0.025 250.4);
  --color-charcoaldepths-500: oklch(42.7% 0.017 248.2);
  --color-charcoaldepths-600: oklch(35.8% 0.012 253.0);
  --color-charcoaldepths-700: oklch(30.0% 0.010 260.7);
  --color-charcoaldepths-800: oklch(24.7% 0.006 258.4);
  --color-charcoaldepths-900: oklch(20.9% 0.006 271.1);
  --color-charcoaldepths-950: oklch(17.2% 0.003 248.0);
  --color-midastouch-50: oklch(99.0% 0.019 96.9);
  --color-midastouch-100: oklch(96.8% 0.054 95.9);
  --color-midastouch-200: oklch(92.2% 0.097 90.2);
  --color-midastouch-300: oklch(87.8% 0.134 87.0);
  --color-midastouch-400: oklch(83.9% 0.159 83.9);
  --color-midastouch-500: oklch(77.2% 0.134 87.5);
  --color-midastouch-600: oklch(71.7% 0.123 88.7);
  --color-midastouch-700: oklch(62.1% 0.104 87.3);
  --color-midastouch-800: oklch(56.1% 0.093 87.4);
  --color-midastouch-900: oklch(50.3% 0.083 84.6);
  --color-midastouch-950: oklch(36.6% 0.058 79.2);
  --color-warmcanvas-50: oklch(98.8% 0.003 84.6);
  --color-warmcanvas-100: oklch(97.4% 0.006 84.6);
  --color-warmcanvas-200: oklch(95.3% 0.010 87.5);
  --color-warmcanvas-300: oklch(92.3% 0.009 84.6);
  --color-warmcanvas-400: oklch(88.5% 0.011 95.2);
  --color-warmcanvas-500: oklch(84.2% 0.013 91.5);
  --color-warmcanvas-600: oklch(77.2% 0.013 96.5);
  --color-warmcanvas-700: oklch(69.8% 0.013 96.5);
  --color-warmcanvas-800: oklch(61.6% 0.013 96.5);
  --color-warmcanvas-900: oklch(53.1% 0.011 93.7);
  --color-warmcanvas-950: oklch(43.5% 0.010 91.6);
  --color-admiralnavy-50: oklch(97.5% 0.005 258.3);
  --color-admiralnavy-100: oklch(93.3% 0.016 262.8);
  --color-admiralnavy-200: oklch(82.9% 0.047 260.7);
  --color-admiralnavy-300: oklch(64.5% 0.100 263.5);
  --color-admiralnavy-400: oklch(50.4% 0.125 265.7);
  --color-admiralnavy-500: oklch(37.3% 0.112 264.7);
  --color-admiralnavy-600: oklch(34.3% 0.102 264.3);
  --color-admiralnavy-700: oklch(30.6% 0.090 264.6);
  --color-admiralnavy-800: oklch(24.7% 0.068 264.2);
  --color-admiralnavy-900: oklch(18.5% 0.044 262.6);
  --color-admiralnavy-950: oklch(13.9% 0.025 258.5);
}